body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
#img1 {
    height: auto;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
    
.wrapper{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;  /* inset: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
}
.service {
    position: relative;
    text-align: center;
}
.description {
    position: absolute;
    /* inset: 0; */
    top: 50%;
    left: 20%;
}
.icon {
    text-align: center;
}
.images {
 display: flex; 
 flex-direction: row; 
 margin-top: 20px; 
 margin-right: 20px;
 margin-left: 20px;
}
.portfolio .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio .row .col-md-12 {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
#overlay1,
#overlay2,
#overlay3,
#overlay4,
#overlay5,
#overlay6,
#overlay7,
#overlay8 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
#work-overlay1,
#work-overlay2,
#work-overlay3,
#work-overlay4,
#work-overlay5,
#work-overlay6,
#work-overlay7,
#work-overlay8 {
    position: absolute;
    left: 29px;
    border: 3px solid white;
    width: 80%;
    counter-reset: #000;
    display: none;
    opacity: 4;
}
.overlay-effect {
    opacity: 0.3;
}
.overlay-text {
    font-weight: 500;
    margin-top: 10px;
    font-size: 25px;
}
.portfolio h2 {
    margin-top: 20px;
    font-weight: 500;
}
.portfolio img {
    height: 210px;
    margin: 20px;
}
/* .port {
    text-align: center;
} */
.contact {
    margin-top: 20px;
}
.contacts {
    position: relative;
    text-align: center;  
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    margin: 25px 20px;
    align-items: center;
}
.footer .icons {
    margin-bottom: 20px;
}
.footer .icons img {
    margin: 10px;
}
.footer h2 {
    font-weight: 200;
    font-size: 25px;
}