body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
#img1 {
    height: auto;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
    
.wrapper{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;  /* inset: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
}
.service {
    position: relative;
    text-align: center;
}
.description {
    position: absolute;
    /* inset: 0; */
    top: 50%;
    left: 20%;
}
.icon {
    text-align: center;
}
.images {
 display: flex; 
 flex-direction: row; 
 margin-top: 20px; 
 margin-right: 20px;
 margin-left: 20px;
}
.port {
    text-align: center;
}
.contact {
    margin-top: 40px;
}
.contacts {
    position: relative;
    text-align: center;  
}